# Virtual Environment
venv/
ENV/
env/

# Python Caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# IDE / Editor Settings
.vscode/
.idea/
*.swp
*.swo

# OS Metadata
.DS_Store
Thumbs.db
desktop.ini

# Logs & Temporary Files
*.log
